*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(255, 255, 255, .99);
    box-shadow: 0 1px  6px rgba(48, 43, 43, 0.226);
    top: 0;
    position: sticky;
    display: flex;   
    justify-content: flex-start;
    gap: 20px;
}

nav div {
    width: 200px;
}

nav div h2{
    margin:13px auto;
    text-align: right;
}

ul {
    box-sizing: content-box;
    padding: 0 0 0 200px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    gap: 30px;
}

li{
    font: 300 16px Times, sans-serif;
    list-style: none;
    cursor: pointer;
}