*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #6b7280;
    box-sizing: border-box;
}

@media (min-width: 716px) {
    nav{
        width: 100%;
    }
}

nav {
    background-image: linear-gradient(to bottom right, rgba(93, 173, 226, .09) 5%, rgba(133, 193, 166, .1) 90%);
    box-shadow: 0 1px  6px rgba(48, 43, 43, 0.226);
    top: 0;
    padding: 6%;
    position: sticky;
    display: flex;   
    justify-content: flex-start;
    gap: 2%;
}

nav div {
    width: 10%;
}

nav div h2{
    font-size: 1rem;
    margin: 5% auto;
    text-align: right;
}

nav > ul {
    box-sizing: content-box;
    padding: 0 0 0 2%;
    align-items: center;
    justify-content:space-around;
    display: flex;
    gap: 3% ;
    display: none;
}

nav > ul > li{
    font: 300 1rem Times, sans-serif;
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

main{
    width: 100%;
    padding: 2% 3% 20%;
    background-image: linear-gradient(120deg, rgba(93, 173, 226, .09) 18%, white  45%, rgba(133, 193, 166, .1) 80%);
    display: flex;
    flex-direction: column;
}

h1{
    font: bold 2rem  Arial, serif;
}

article{
    width: 95%;
    margin: auto;
}

article p{
    font: normal 1.05em Times, sans-serif;
    margin: 15% 0 7%;
    line-height: 1.5em;
}

button{
    height: auto;
    border-radius: 40px;
    padding: 1.1em;
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 3px grey;
}
article button {
    width: 100%;
    height: auto;
    margin: 0 auto 10%;
}

article div {
    width: 100%;
    margin: 0 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    align-items: baseline;
}

article ul li{
    list-style: none;
    font: bold 2em Arial, sans-serif;
}

picture {
    width: 100%;
    margin: auto;
}
main img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px  40px rgb(179, 176, 176);
}

h2 {
    font: bold 1.8em Arial, sans-serif;
    text-align: center;
}
p{
    font: normal 1em Times, serif;
    text-align: left;
    line-height: 1.5em;
}
section{
    padding: 17% 0;
}

h2 + p{
    font: normal 1.2em Times, serif;
    text-align: center;
    margin: 4% 0 20%;
}

.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.cards{
    width: 100%;
    margin: 0% 0 5%;
    align-items: flex-start;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    border: .1px solid rgba(48, 43, 43, 0.226);
    box-shadow: 1px 3px 12px rgba(48, 43, 43, 0.226);
}

.container .cards a{
    font-weight: bold;
    margin: 2% 0 0;
}

.container .cards a img{
    width: 5%;
    margin-left: 2%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    vertical-align: text-top;
}

.cards h3{
    font: bold 1.3em Arial, serif;
}

.cards p, .cards a{
    text-align: left;
    margin: 5% 0;
    font: normal 1em Times, sans-serif;
    line-height: 1.5em;
}

.cards picture{
    width: 100%;
}

#services{
    background-image: linear-gradient(to bottom, rgba(146, 223, 223, 0.05) 3%, white  25%);
}

#services .cards{
    width: 100%;
    height: auto;
    padding: 10% 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#services .cards p{
    font-size: 1em;
}

#about{
    background-image: linear-gradient(120deg, rgba(93, 173, 226, .13) 18%, white  60%, rgba(133, 193, 166, .1) 70%);
}
    
#about .cards{
    background-color: white;
    padding: 8% 14% 2%;
    height: auto;
}

#works{
    background-image: linear-gradient(180deg, white  82% , rgba(93, 173, 226, .09) 91%);
}

#works .cards{
    height: 15%;
}

#works .cards img{
    width: 27%;
    height: 27%;
    display: block;
    margin:auto auto 3%;
    background-color: black;
    border-radius: 50%;
}

#works .cards h3, #works .cards p{
    text-align: center;
} 

#works button{
    width: 45%;
    height: auto;
    margin: 8% auto 0;
    padding: 1em;
}

#testimonials{
    background-image: linear-gradient(120deg, rgba(243, 229, 245, 1)9%, rgba(250, 250, 250, 1) 21%, rgba(227, 242, 253, 1) 98%);
}

#testimonials .cards{
    height: auto;
    padding: 3% 5% 0;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 10vh 7vh 23vh;
    grid-template-areas: 
    "img-user  info-user"
    "stars stars"
    "text text";
}

#testimonials .cards div {
    grid-area: info-user;
    vertical-align: bottom;
    margin: 6% 0 0;
}

#testimonials .cards div > p{
    margin: 0;
}

#testimonials .cards div + p {
    grid-area: stars;
    font-size: 1.6em;
    letter-spacing: 0.4em;
    line-height: 1.5em;
}

.relatos {
    grid-area: text;
    width: 85%;
}

#testimonials .cards img {
    grid-area: img-user;
    width: 65%;
    height: auto;
    border-radius: 50%;
    background-color: gray;
}

/* #gallery picture{
    display: grid;
    margin: 60px 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .5fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-5"
    "img-2 img-3 ."
    "img-4 img-4 img-6"
    ;
    gap: 30px;
} */

#gallery picture{
    width: 93%;
    display: block;
    margin: auto;
}

#gallery img{
    width: 100%;
    margin: 5% 0;
    border-radius: 15px;
}

/* #gallery .img-1 {
    grid-area: img-1;
}
#gallery .img-2 {
    grid-area: img-2;
}
#gallery .img-3 {
    grid-area: img-3;
}
#gallery .img-4 {
    grid-area: img-4;
}
#gallery .img-5 {
    grid-area: img-5;
}
#gallery .img-6 {
    grid-area: img-6;
}
 */
#gallery p{
    text-align: center;
    margin: 7% 0;
}

#gallery button{
    display: block;
    margin: 0 auto;
}

footer{
    position: relative;
    height: 360px;
    padding: 100px;
    background-image: linear-gradient(to bottom right, #1a252f, #2c3e50,#1a252f);
}

.foot-div{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.foot-div h3{
    font-size: 22px;
    margin: 0 0 25px;
    color: white;
}

.foot-div div{
    width: 350px;
    align-items:start;
}
.foot-div div p{
    text-align: left;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, .8);
}

.foot-div div a{
    line-height: 30px;
    color: rgba(255, 255, 255, .8);
}

.foot-div div img{
    width: 30px;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
}

.infos-petshop{
    width: 200px;
    position: absolute;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, .10);
    bottom: 110px;
    right: 140px;
}

.infos-petshop h3{
    color: white;
    margin: 0 0 15px;
}

.infos-petshop p{
    text-align: left;
    color: rgba(255, 255, 255, .8);
}

.infos-petshop span{
    display: inline-block;
    color: #85c1a6;
    margin: 15px 0 0;
}
.socials{
    position: absolute;
    left: 100px;
    top: 270px;
    width: 300px;
}

.socials a{
    display: inline-block;
    padding: 10px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, .10);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

footer .foot-last{
    width: 85%;
    margin: 176px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
}

footer .foot-last ul{
    display: flex;
    gap: 20px;
    list-style: none;
}